.footer{
    background: #2F323A;
    padding: 40px 140px 20px 140px;

    .col-4{
        width: 278px;
    }
    .nav{
        margin-left: 130px;
    }
    .row{
        @include text(300, 16px, 150%);
        color: #E8E9EA;
        flex-wrap: nowrap;
    }
    &-top{
        border-bottom: 1px solid #5D6066;
        display: flex;
    }
    &-left{
        display: inline-block;
        &__logo{
            margin-bottom: 22px;
            display: inline-block;
        }
        &__text{
            margin-bottom: 20px;
            @include text(300, 16px, 150%);
            color: #E8E9EA;
            gap: 10px;
            flex-wrap: nowrap;
        }
    }
    &-right{
        &__link{
            display: inline-block;
            margin-bottom: 12px;
        }
    }
    &-bottom{
        padding-top: 16px;
        &__text{
            @include text(300, 16px, 150%);
            color: #D1D1D3;
        }
        
    }
}