.overlay{
    position: fixed;
    background: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    .login-popup {
        padding: 36px;
        color: #2F323A;
        position: absolute;
        max-width: 376px;
        width: 100%;
        min-height: 490px;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

		&__title {
            @include text(600, 34px, 130%);
            margin-bottom: 24px;
            text-align: center;
            color: #171B24;
		}


		&__label {
            @include text(500, 16px, 150%);
            margin-bottom: 8px;
            display: block;
            color: #171B24;
		}

		&__input {
            padding: 12px 0 12px 16px;
            @include text(400, 18px, 136%);
            color: #8B8D92;
            border: none;
            background: #F6F6F6;
            border-bottom: 1px solid #D1D1D3;
            width: 100%;
		}
        input[type=email]{
            margin-bottom: 24px;
        }

		&__forgot-pass {
            @include text(500, 15px, 145%);
            display: block;
            margin: 12px 0 24px 0;
		}

		&__enter-btn {
            @include text(500, 18px, 136%);
            display: inline-block;
            background: #FCEC41;
            padding: 12px 24px;
            width: 100%;
            text-align: center;
            margin-bottom: 12px;
            color: #171B24;
		}

		&__reg {
            @include text(500, 18px, 136%);
            background: #FFFFFF;
            border: none;
            border: 1px solid #D1D1D3;
            padding: 12px 0 12px 0;
            width: 100%;
            color: #171B24;
		}
}

    
    .reg-popup{
        position: absolute;
        max-width: 572px;
        width: 100%;
        min-height: 396px;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
}

    .popup-close-btn{
        position: absolute;
        width: 26px;
        height: 26px;
        top: 33px;
        right: 33px;
        cursor: pointer;
        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }
    }